#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
reboot

# Network information
network --bootproto=dhcp --ipv6=auto --activate
network --hostname=basebox.bcit.local

# Root password
rootpw --iscrypted $6$0NS/XMK8WCYXCCp$7fki3ghAsS1IWqHk04vm1TImyPmRnEBPXsAzgbGTI8wmi9esYB2tmiyMSGUOv1CxEgvFpyBZoxWXjMG1WcOzE0
user --name=admin --password=$6$btfu69BFJ$Mn81U4jhp4BbAKng8yVCkixnwmlny1QY/wrv6L1wyYLOWpnhFAGIixAcT45iaiUrTnDgQs/SThpsWF3QPpMrm/ --gecos="admin" --groups="wheel"

# System services
services --disabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

repo --name="epel-release" --baseurl=http://mirror.its.dal.ca/pub/epel/7/x86_64/
repo --name="centos" --baseurl=http://mirror.it.ubc.ca/centos/7/os/x86_64/
repo --name="fedora" --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64

%packages
@^minimal
@core
chrony
kexec-tools
epel-release
git
nginx
mongodb-server
nodejs
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*NOPASSWD:\s*ALL\)/\1/' /etc/sudoers
sed -i 's/^\(Defaults    requiretty\)/#\1/' /etc/sudoers
useradd -m admin
echo "admin:temporary" | chpasswd
echo "root:P@ssw0rd" | chpasswd
usermod -aG wheel admin


%end